@import "tailwindcss";
@plugin "daisyui";

/* globals.css or index.css */
@keyframes slow-bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-slow-bounce {
  animation: slow-bounce 500ms infinite; /* Change 2s to 1.5s or 3s if needed */
}

